[submodule "external/fmt"]
	path = external/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "external/json"]
	path = external/json
	url = git@github.com:nlohmann/json.git
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
